@model IEnumerable<ContractMonthlyClaimSystem.Models.Claim>

@{
    ViewData["Title"] = "View Claims";
}

<div class="container">
    <h2>All Claims</h2>
    <table class="table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>Claim ID</th>
                <th>Description</th>
                <th>Lecturer Name</th>
                <th>Status</th>
                <th>Date Submitted</th>
                <th>Document</th>
                <th>Submitted By (User ID)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <td>@claim.claimId</td>
                    <td>@claim.claimDescription</td>
                    <td>@claim.LecturerName</td>
                    <td>@claim.Status</td>
                    <td>@claim.claimDate.ToShortDateString()</td>
                    <td>@claim.Documents</td>
                    <td>@claim.UserId</td>
                </tr>
            }
        </tbody>


    </table>
</div>

